@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --cor-primaria: #1d6f4b;
  --cor-secundaria: #71c98b;
  --cor-cinza: #5e5e5e;
  --cor-escura: rgb(36, 36, 36);
}

body {
  background-color: var(--cor-cinza);
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
}

.centralizar-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.centralizar-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.coluna-esquerda {
  background-color: var(--cor-secundaria);
  border-right: 1px solid var(--cor-primaria);
  flex-grow: 1;
  max-width: 200px;
}
.coluna-esquerda a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 5px;
  background-color: var(--cor-primaria);
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 20px;
  transition: background-color 0.3s;
}
.coluna-esquerda a:hover {
  background-color: var(--cor-secundaria);
}
.coluna-direita {
  background-color: var(--cor-cinza);
  flex-grow: 4;
}

h1 {
  background-color: aqua;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
}
.ic--outline-home {
  margin-right: 10px;
  font-size: 16px;
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81zM12 3L2 12h3v8h6v-6h2v6h6v-8h3z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.line-md--cog-loop {
  margin-right: 10px;
  font-size: 16px;
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Csymbol id='lineMdCogLoop0'%3E%3Cpath d='M15.24 6.37C15.65 6.6 16.04 6.88 16.38 7.2C16.6 7.4 16.8 7.61 16.99 7.83C17.46 8.4 17.85 9.05 18.11 9.77C18.2 10.03 18.28 10.31 18.35 10.59C18.45 11.04 18.5 11.52 18.5 12'%3E%3Canimate fill='freeze' attributeName='d' begin='0.9s' dur='0.2s' values='M15.24 6.37C15.65 6.6 16.04 6.88 16.38 7.2C16.6 7.4 16.8 7.61 16.99 7.83C17.46 8.4 17.85 9.05 18.11 9.77C18.2 10.03 18.28 10.31 18.35 10.59C18.45 11.04 18.5 11.52 18.5 12;M15.24 6.37C15.65 6.6 16.04 6.88 16.38 7.2C16.38 7.2 19 6.12 19.01 6.14C19.01 6.14 20.57 8.84 20.57 8.84C20.58 8.87 18.35 10.59 18.35 10.59C18.45 11.04 18.5 11.52 18.5 12'/%3E%3C/path%3E%3C/symbol%3E%3C/defs%3E%3Cg fill='none' stroke='%23000' stroke-width='2'%3E%3Cg stroke-linecap='round'%3E%3Cpath stroke-dasharray='20' stroke-dashoffset='20' d='M12 9c1.66 0 3 1.34 3 3c0 1.66 -1.34 3 -3 3c-1.66 0 -3 -1.34 -3 -3c0 -1.66 1.34 -3 3 -3Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.2s' values='20;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='48' stroke-dashoffset='48' d='M12 5.5c3.59 0 6.5 2.91 6.5 6.5c0 3.59 -2.91 6.5 -6.5 6.5c-3.59 0 -6.5 -2.91 -6.5 -6.5c0 -3.59 2.91 -6.5 6.5 -6.5Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.2s' dur='0.6s' values='48;0'/%3E%3Cset fill='freeze' attributeName='opacity' begin='0.9s' to='0'/%3E%3C/path%3E%3C/g%3E%3Cg opacity='0'%3E%3Cuse href='%23lineMdCogLoop0'/%3E%3Cuse href='%23lineMdCogLoop0' transform='rotate(60 12 12)'/%3E%3Cuse href='%23lineMdCogLoop0' transform='rotate(120 12 12)'/%3E%3Cuse href='%23lineMdCogLoop0' transform='rotate(180 12 12)'/%3E%3Cuse href='%23lineMdCogLoop0' transform='rotate(240 12 12)'/%3E%3Cuse href='%23lineMdCogLoop0' transform='rotate(300 12 12)'/%3E%3Cset fill='freeze' attributeName='opacity' begin='0.9s' to='1'/%3E%3CanimateTransform fill='freeze' attributeName='transform' dur='30s' type='rotate' values='0 12 12;360 12 12'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.akar-icons--info {
  margin-right: 10px;
  font-size: 16px;
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath stroke-linecap='round' d='M12 7h.01'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M10 11h2v5m-2 0h4'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.solar--leaf-bold {
  margin-right: 10px;
  font-size: 16px;
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11.25 2.083a3.5 3.5 0 0 0-.713.243C6.553 4.188 4 9.395 4 13.856c0 4.24 3.183 7.724 7.25 8.109zm1.5 19.882c4.067-.385 7.25-3.868 7.25-8.108q0-.61-.063-1.234l-7.187 7.188zM18.26 7.18a13.4 13.4 0 0 0-1.34-2.04l-4.17 4.17v3.38zm-2.352-3.15a9.2 9.2 0 0 0-2.445-1.704a3.5 3.5 0 0 0-.713-.243v5.106zm3.028 4.594l-6.186 6.187v2.878l6.75-6.75l.132-.132a15 15 0 0 0-.696-2.183'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
